  <aside class="cover">
  	
    <div class="stream">

    	<div class="logo"><h1>FABRIC</h1>
      </div>
      <div class="supporting">
      <p>Discover meaning in your twitter stream.</p>
      <p>Post and read annotations across shared content.</p>
      </div>
    	<br>
    	<li class="btn-primary"><i class="icon-twitter"></i><%= link_to "Sign in with Twitter", "/auth/twitter" %></li> 
      
    
    </div>  <!-- stream -->
  </aside> <!-- cover -->

  <div class="wrapper">
  	<div class="wrapper-img" style="background-image: url('http://31.media.tumblr.com/73b98fd7334cda3f8ef09eb7fa75bbf0/tumblr_mnw3tc90tO1rvn6njo1_500.gif')"></div>
    <div class="wrapper-paper">
    	yeahhh dawwg
      <div id="article_window"></div>
    </div> <!-- paper -->
  </div> <!-- wrapper -->
