  <aside class="cover">
  	
    <div class="stream">
    	<h1>Welcome to Fabric</h1>
    	
    	<li class="btn-primary"><i class="icon-twitter"></i><%= link_to "Sign in with Twitter", "/auth/twitter" %></li> 
      
    
    </div>  <!-- stream -->
  </aside> <!-- cover -->

  <div class="wrapper">
  	<div class="wrapper-img" style="background-image: url('https://dnqgz544uhbo8.cloudfront.net/_/fp/img/home/06.rHAPAALUwCaO-oXrjHqT2w.jpg')"></div>
    <div class="wrapper-paper">
    	yeahhh dawwg
      <div id="article_window"></div>
    </div> <!-- paper -->
  </div> <!-- wrapper -->