
<div class="tweet-well">
<h3 class="tweet-well-title"><%= tweet.name %></h3>
<img class="tweet-well-avatar" src="<%= tweet.img %>">
<div class="tweet-well-text"><%= tweet.tweet %>

<div class="tweet-well-link">
  <i class="icon-bookmark"></i>
  <%= link_to "READ ARTICLE", "/articles/#{tweet.id}", remote: true %></div>
</div>
