  <aside class="cover">
    <div class="stream">
      <div class="well" id="tweets">
      	hollerz
        <% @articles.each do |tweet| %>
<!--           <%#= render partial: '/shared/tweet', :locals => { :tweet => tweet } %>
        <#% end %> -->
      </div> <!-- well -->
    </div>  <!-- stream -->
  </aside> <!-- cover -->

  <div class="wrapper">
    <div class="wrapper-paper">
    	yeahhh dawwg
      <div id="article_window"></div>
    </div> <!-- paper -->
  </div> <!-- wrapper -->