<% if current_user %>
  <h1>BOoya</h2>
  <div id="tweets">
    <% @articles.each do |tweet| %>
      <%= render partial: 'tweet', :locals => { :tweet => tweet } %>
    <% end %>
    <br>
    <h1>Article!!!</h1>
    <div id="article_window"></div>
  </div>
<% end %>