<% if current_user.present? %>
  <aside class="cover">
    <div class="stream">
      <div class="well" id="tweets">
        <% @articles.each do |tweet| %>
          <%= render partial: 'tweet', :locals => { :tweet => tweet } %>
        <% end %>
      </div> <!-- well -->
    </div>  <!-- stream -->
  </aside> <!-- cover -->

  <div class="wrapper">
    <div class="wrapper-paper">
      <div id="article_window"></div>
    </div> <!-- paper -->
  </div> <!-- wrapper -->
<% else %>
<% end %>
