</h1 class="paper-article-title"><%= article.name %></h1>
<% article.sentences.each do |sentence| %>
  <span class="sentence" id="<%= sentence.id %>"><%= raw sentence.content %></span>
<% end %>
<div id="annotate_window"></div>