</h1 class="paper-article-title"><%= article.name %></h1>
<% article.sentences.reverse.each do |sentence| %>
  <span class="sentence" id="<%= sentence.id %>"><%= raw sentence.content %></span>
<% end %>
