</h1><%= article.name %></h1>
<p>ARTICLE BY SENTENCE</p>
<% article.sentences.each do |sentence| %>
  <span class="sentence" id="<%= sentence.id %>"><%= raw sentence.content %></span>
<% end %>
<p>ARTICLE BY ARTICLE</p>
<%= raw article.content%>